{% extends 'base.html' %}

{% load bootstrap %}


{% block header %}

<header class="w3-container w3-green w3-center w3-padding-16">
</header>

<header class="w3-container w3-green w3-center w3-padding-32">
  <h1 class="w3-margin w3-jumbo">AGATA</h1>
</header>

{% endblock %}

{% block content %}


<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

    <h1>Gerar AIML</h1>
    
    <h5 class="w3-padding-32">Digite as palavras-chave e forneça um arquivo:</h5>
    
	<!--<head>
		<meta>
	</head> -->
	
	<form action="{% url 'selecttext' %}" method="post"  enctype="multipart/form-data">
	  {% csrf_token %}
	  
	  {{ form|bootstrap }}

	  
	    <small id="required" class="form-text text-muted">* Campo Obrigatorio.</small>
	    <br/>
	    <input type="submit" class="btn btn-primary" value="Enviar" />
	</form>

  </div>
</div>

{% endblock %}
