{% extends 'base.html' %}

{% load static %}

{% block content %}


<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
  //forced_root_block : false,
  width: '100%',
  plugins: [
  'advlist autolink lists link image charmap print preview anchor textcolor',
  'searchreplace visualblocks code fullscreen',
  'insertdatetime media table contextmenu paste code help'
  ],
  toolbar: 'insert | undo redo |  styleselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
  content_css: [
  '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
  '//www.tinymce.com/css/codepen.min.css'
  ],
  apply_source_formatting:true,
  entity_encoding:"named",
  language:"pt_BR",
  entities:'169,copy,8482,trade,ndash,8212,mdash,8216,lsquo,8217,rsquo,8220,ldquo,8221,rdquo,8364,euro'
  });
</script>






<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="container">
    <form action="{% url 'generateaiml' %}" method="post">

      {% csrf_token %}




	<h1>Simple Example of dynamically add and remove Tinymce 4</h1>





<div id="type-container" class="hide" style="visibility:hidden">
	<div class="row form-group type-row" id="">
		<div class="col-md-8">
			<textarea class="tinymce-enabled-message-new" id="">

          </textarea>
		</div>
	</div>
</div>


      {% for info in final_sentences_info %}

      <br>
      <h3>Palavra-Chave: {{ info.keyword }}</h3>
      <br>
      <div class="form-group">


	{% if info.sentences %}

    <div id="{{ info.keyword }}">

	{% for sentence in info.sentences %}

    <div id="type_container">
		<div class="row form-group" id="edit-0">
			<div class="col-md-8">
				<textarea class="tinymce-enabled-message" value={{ sentence.sentence_id }} id={{ sentence.sentence_id }}>
                     {{ sentence.sentence }}
        </textarea>
    </div>
</div>
</div>

	{% endfor %}
    </div>


	{% else %}

	<br>
	<h5>Nenhuma frase selecionada para essa palavra-chave.</h5>
	<br>

	{% endif %}



    <div class="row well"><a class="add-type btn btn-primary pull-right" href="javascript: void(0)" tiitle="Click to add more"><i class="glyphicon glyphicon-plus-sign"></i> Add More TextArea</a>
	</div>

    <input type="button" value="Add" id="{{ info.keyword }}" onClick="mais_tiny(this)">







      </div>
      <hr>

      {% endfor %}

      <div id="empty_form">
          <div class="w3-container w3-center w3-padding-16">
          <label class="form-check-label">
            <textarea
            class="form-control" id="lala"
            name="lulu">
                lalalala
              </textarea>
          </label>
        </div>
      </div>

      {% if theres_sentences %}
            <div class="w3-row-padding w3-padding-16 w3-container">
	<div class="w3-content">

	  <div class="form-group">
	    <label for="relatedKeywords">Palavras-Chave Relacionadas:</label>
	    <input type="text" class="form-control" id="relatedKeywords" name="relatedKeywords" placeholder="Digite as palavras-chave relacionadas separadas por ;">
	  </div>

	  <div class="form-group">
	    <label for="fileName">Nome do Arquivo:</label>
	    <input type="text" class="form-control" id="fileName" name="fileName" placeholder="Entre com o nome do arquivo, caso seja nulo, vai ser aiml-DD-MM-YYYY-hh-mm-ss.xml, nao e necessario o .xml">
	  </div>


	  <br>
	  <h4>Selecione:</h4>
	  <br>

	  <div class="form-check">
	    <label class="form-check-label">
	      <input class="form-check-input" type="radio" name="aimlOption" id="show" value="show">
	      Visualizar AIML
	    </label>
	  </div>
	  <div class="form-check">
	    <label class="form-check-label">
	      <input class="form-check-input" type="radio" name="aimlOption" id="save" value="save" checked>
	      Salvar AIML
	    </label>
	  </div>

	  <br>

	  <input type="hidden" name="typeOfAIML" value="pre_defined" />
	  <input type="submit" class="btn btn-primary" value="Download AIML" />

	</div>
      </div>
	    {% else %}
	    <br>
	    <h3>Não há nenhuma frase a ser salva.</h3>
	    <br>
      {% endif %}


    </form>

  </div>

</div>




<script type="text/javascript">
	$(document ).ready(function() {
		function applyMCE() {
			tinyMCE.init({
				mode : "textareas",
				editor_selector : "tinymce-enabled-message",
			});
		}
		function AddRemoveTinyMce(editorId) {
			if(tinyMCE.get(editorId))
			{
				tinyMCE.EditorManager.execCommand('mceFocus', false, editorId);
				tinyMCE.EditorManager.execCommand('mceRemoveEditor', true, editorId);

			} else {
				tinymce.EditorManager.execCommand('mceAddEditor', false, editorId);
			}
		}
		applyMCE();
		$('a.toggle-tinymce').die('click').live('click', function(e) {
			AddRemoveTinyMce('description1');
			var lbl = $(this).text() == 'Off' ? 'On' : 'Off';
			$(this).text(lbl);
		});
		$('a.add-type').die('click').live('click', function(e) {
			e.preventDefault();
			var content = jQuery('#type-container .type-row'),
			element = null;
			for(var i = 0; i<1; i++){
				element = content.clone();
				var divId = 'id_'+jQuery.now();
				element.attr('id', divId);
				element.find('.remove-type').attr('targetDiv', divId);
				element.find('.tinymce-enabled-message-new').attr('id', 'txt_'+divId);
				element.appendTo('#type_container');
				AddRemoveTinyMce('txt_'+divId);

			}
		});

		jQuery(".remove-type").die('click').live('click', function (e) {
			var didConfirm = confirm("Are you sure You want to delete");
			if (didConfirm == true) {
				var id = jQuery(this).attr('data-id');
				var targetDiv = jQuery(this).attr('targetDiv');
				jQuery('#' + targetDiv).remove();
			// }
			return true;
			} else {
				return false;
			}
		});
	});
</script>

{% endblock %}
