{% extends 'base.html' %}


{% block header %}

<header class="w3-container w3-center" style="padding:12% 160px">
  <h1 class="w3-margin w3-jumbo" ><font color="black">Bem-vindo(a) ao Sistema A.G.A.T.A.</font></h1>
  <p class="w3-xxlarge"><font color="black">Automatic Generation of AIML from Text Acquisition</p>
  <a href="/aiml" class="w3-btn w3-green w3-border w3-round-large w3-xlarge">Começar</a>
</header>

{% endblock %}

{% block content %}

<div class="w3-row-padding w3-container">
  <div class="w3-content">

	

  </div>
</div>

{% endblock %}
