{% extends 'base.html' %}

{% block content %}
    
	<div class="container">
		<button id='selectall'>Select/Unselect All</button>
		<form action="{% url 'edittext' %}" method="post">
			{% csrf_token %}

			{% for info in sentences_info %}
				<h3>Palavra-Chave: {{ info.keyword }}</h3>
				<div class="form-check">
					{% for sentence in info.sentences %}
					    <label class="form-check-label">
					        <input type="checkbox" class="form-check-input" name="{{ info.keyword_id }}" id="{{ sentence.sentence_id }}" value="{{ sentence.sentence_id }}">
					        {{ sentence.sentence }}
					    </label>
					{% endfor %}
				</div>
				<hr>
			{% endfor %}
			
			<input type="submit" class="btn btn-primary" value="Enviar" />

		</form>
	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$("#selectall").click(function() {
		    $("input[type='checkbox']").each(function() {
		        this.checked = !this.checked;
		    });
		});
	</script>

{% endblock %}