{% extends 'base.html' %}

{% block content %}

<div class="w3-row-padding w3-padding-64 w3-container w3-white">
  <div class="w3-content">
	<div class="container">
		<form action="{% url 'edittext' %}" method="post">
			{% csrf_token %}

			{% for info in sentences_info %}
			<br>
			<h3>Palavra-Chave: {{ info.keyword }} ({{ info.number_of_occurencies }} ocorrências)</h3>

			<!-- <input type="button" class="btn btn-primary" value="Selecionar/Deselecionar Todos" id="{{ info.keyword_id }}"/> -->

			<br>
			<input type="checkbox" id="{{ info.keyword_id }}" onClick="selectAll(this)">

			<b>Selecionar/Deselecionar Todos</b>

			<br><br>
			
			<div class="form-check">

			  {% if info.sentences %}
			    {% for sentence in info.sentences %}

          <div>

			  <label class="form-check-label">
			    <input type="checkbox" class="form-check-input" name="{{ info.keyword_id }}" id="{{ sentence.sentence_id }}" value="{{ sentence.sentence_id }}">
			
			    {{ sentence.sentence|safe }}
			 
			    <br><br>
			  </label>

          </div>
			  {% endfor %}
			  {% else %}
			  <br>
			  <h5>Nenhuma frase encontrada com essa palavra-chave.</h5>
			  <br>
			  {% endif %}
			  
			</div>
			<hr>
			{% endfor %}
			
			<input type="submit" class="btn btn-primary" value="Enviar" />

		</form>
	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

<script language="JavaScript">
	function selectAll(source) {
		checkboxes = document.getElementsByName(source.id);
		for(var i in checkboxes)
			checkboxes[i].checked = source.checked;
	}
</script>

	  </div>
</div>

{% endblock %}
