li a {
    color: green;
}
/*body {
    background: white url("/static/images/background.gif") no-repeat;
}*/
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 100px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 